/*
Smiley Wiley Breast Cancer Foundation
Site by Bella Group, Inc.
http://bellagroupinc.com/

Version: 1.0
Author: Nick Rozwadowski
Date: April 1, 2012
*/

/*
Swatch Colors
===========================================
Brown				#42210B
Light Green			#879904
Christmas Party Red #bf1f2d
===========================================
*/

.alignright,
.right {
	float: right;
	margin: 0 0 1.5em 1.5em;
}

.alignleft,
.left {
	float: left;
	margin: 0  1.5em 1.5em 0;
}


/*Reset All*/
*{ margin:0; padding:0; border:none; z-index:0; }

html {
	height: 100%;
	font-size: 14px;
	}
body {
	min-width: 1068px;
	height: 100%;
	color: #42210B;
	font-size: 14px;
	font-family: 'Century Gothic', 'Lucida Grande', Arial, sans-serif;
	margin: 0;
	padding: 0;
	}
h1, h2, h3 { margin-bottom: .5em; line-height: 1.25em; }
#wrapper {
	height: 100%;
	height: auto !important;
	min-height: 100%;
	margin: 0 0 -80px 0;
	padding: 0;
	position: relative;
	}

#externalNav {
  float: right;
  margin: 18px 0;
}
#externalNav a {
  font-family: 'Century Gothic', 'Lucida Grande', Arial, sans-serif;
  font-size: 1.25em;
  color: white;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-left: .25em;
  cursor: pointer;
}
.button-link { padding: 0 .5em; }
.donate-link { background-color: #879904; }
.join-email-link { background-color: #42210B; }
.icon { width: 32px; }
.facebook-link { background: #265999 url('/images/icons/facebook-32.png') 50% 50%; }
.twitter-link { background: #00B0EF url('/images/icons/twitter-32.png') 50% 50%; }
.linkedin-link { background: #0082b2 url('/images/icons/linkedin-32.png') 50% 50%; }

#headerright {
    position: absolute;
    top: 80px;
    right: 24px;
    width: 800px;
}
	
#page {
	position: relative;
	height: 100% !important;
	min-height: 100% !important;
	width: 1068px;
	margin: 0 auto 0 auto; /*top was negative*/
	padding: 0 0 -10px 0;
	}
	
		.main-header {
		    margin-bottom: 15px;
		}
		#topBar {
			margin-top: 10px;
			}
			
	       .main-logo {
	           position: absolute;
               top: 15px;
               background: #fff;
               max-width: 235px;
               
	       }
	       .main-menu-wrapper { float: right; }
	       ul.main-menu, ul.dropit-submenu {
	           list-style-type: none;
	       }
	       ul.main-menu > li {
	           float: left;
	           display: inline-block;
	           padding: 12px 0;
	       }
	       ul.main-menu > li > a, ul.dropit-submenu a {
	           text-transform: uppercase;
	           font-size: 15px;
	           padding: 0 14px;
	           border-right: 2px solid #42210B;
	           font-weight: bold;
   	       }
   	       ul.main-menu > li:last-child a {
   	           border-right: none;
   	       }
   	       .dot-bar {
       		    display: block;
           		height: 13px;
           		background-image: url('/images/dot-pattern.png');
           		background-repeat: repeat-x;
           		background-position-y: 50%;
       		}
       		.dot-bar-top {
       		    width: 825px;
                float: right;
       		}
       	    .dot-bar-bottom {
           	    clear: both;
           	}
           	/* TEAM MENU */
            ul.dropit-submenu {
                position: absolute;
                background-color: #fff;
                border: 1px solid #42210B;
                padding: 6px 0;
                margin: 3px 0 0 1px;
                z-index: 1000;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                        border-radius: 3px;
                -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
                   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
                        box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
            }          
            ul.dropit-submenu a {
                display: block;
                line-height: 25px;
                padding: 5px 15px;
                border-right: none;
            }
            ul.dropit-submenu a:hover {
                background: #42210B;
                color: #fff;
                text-decoration: none;
            }
            li.current_page_item a {
                color: #879904 !important;
            }
			
	#imgbox {
		display: block;
		width: 1020px;
		height: 332px;
		margin-top: 10px;
		position: relative;
		}
	
	
	#dashedLine, .dashed-line {
		display: block;
		height: 6px;
		background: url('/images/dashed_line.png') 0 50% repeat-x;
		padding: 10px;
		}
	#content {
		float: left;
		clear: none;
		width: 1020px;
		margin: 0 24px 25px 24px !important;
		position: relative;
		font-size: 14px;
		}
		
		.post {
			margin: 0;
			line-height: 150% !important;
			}
			
			.post h3 {
				font-size: 18px;
				color: #879904;
				font-weight: bold;
				margin-bottom: .5em;
				}
			.topimageleft {
				margin-right: 15px;
				}
			.topimageright {
				margin: auto 0 auto 0;
				display: block;
				}
		
			.titleimg {
				margin: 0 0 15px 0;
				}
			#seventywideleft {
				width: 70%;
				float: left;
				}
			#tenwideright {
				width: 30px;
				float: right;
				}
			#thirtywideright, #massCards {
				width: 260px;
				float: right;
				}
				#thirtywideright p {
					padding-top: 70px;
					}
				#massCards h3, #massCards p, #massCards img {
					margin-bottom: .5em;
				}
			#thirtywideleft {
				width: 250px;
				float: left;
				}
			.fortyleft {
				padding-left: 40px;
				}
				.entry p,
				#seventywideleft p,
				#seventywideleft ol,
				#seventywideleft h4 {
					padding-bottom: 10px;
					}
			#seventywideright {
				width: 67%;
				float: right;
				padding: 0 0 0 20px;
				border-left: 2px dotted #000;
				}
				#seventywideright p {
					padding-bottom: 10px;
					}
			.smiley {
				margin-top: 25px;
				}
			.sideimg {
				margin-bottom: 15px;
			}
				.sideimg p {
					font-size: 10px;
					font-weight: bold;
					padding-bottom: 20px;
					}
				.padtwenty {
					padding-top: 20px;
					}
				.padseventy {
					padding-top: 70px;
					}
			.post ol {
				margin-left: 20px;
				}
			#one-thirdleft,
			#one-thirdcenter,
			#one-thirdright {
				min-height: 225px !important;
				position: relative;
				margin-top: 20px;
				}
				#one-thirdleft {
					width: 292px;
					float: left;
					}
				#one-thirdcenter {
					width: 292px;
					float: left;
					margin: 20px 68px 0 68px;
					}
				#one-thirdright {
					width: 292px;
					float: right;
					}
				.morelink {
					position:absolute;
					bottom: 0;
					right: 0;
					}
				.morelinkleft {
					position:absolute;
					bottom: -10px;
					left: 0;
					}
			.subtitle {
				text-transform: uppercase;
				font-size: 16px;
				}
			.paypal {
				margin: 20px 0 10px 0;
				}
	.clearfooter {
		height: 52px;
		clear: both;
		}

#footer {
	padding: 0;
	margin: 0 auto 0 auto; 
	width: 1032px;
	height: 52px;
	clear: both !important;
	font-size: 12px;
	color: #42210B;
	position: relative;
	top: 52px;
	z-index: 1;
	background-image: url('/images/footer.png');
	background-repeat: no-repeat;
	}
	
		.footerimg {
			float: right;
			clear: none;
			display: block;
			position:relative;
			top: 0;
			height: 52px;
			width: 50px;
			background: url('images/bella_logo.jpg') bottom;
			text-indent: -99999px;
			z-index: 1 !important;
			}
			
		.footerimg:hover {
			background-position:  0 0;
			background: url('images/bella_logo_hover.jpg') bottom;
			z-index: 1 !important;
			}

		#footer p {
			margin: 0 auto 0 auto;
			padding: 14px 10px 0 0;
			text-align: right;
			}
		.offsetfooter{
			margin-right: 60px;
			}
		
		#footer img {
			vertical-align: middle;
			}
		
		#footer a,
		#footer a:visited {
			color: #42210B;
			}
			
		#footer a:active,
		#footer a:hover,
		#footer a.active {
			color: #879904;
			}
			
#footerbg {
	height: 52px;
	position:relative;
	top: 0;
/*	background-image: url('/images/footer.png');
	background-repeat: no-repeat;
*/	}

/*//////////////////////////////////////////*/

label {
	float: left;
	clear: left;
	width: 100px;
	text-align: left;
	}
#one-thirdleft input,
#send_message {
	width: 175px;
	height: 20px;
	padding: 3px;
	margin: 0 0 10px 0;
	border: 1px solid #003767;
	color: #003767;
	background: -moz-linear-gradient(left, #CCC 0%, #FFF 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#CCC), color-stop(100%,#FFF));
	font-size: 14px;
	font-family: 'Century Gothic', 'Lucida Grande', Arial, sans-serif;
	}
#send_message {
	height: 28px !important;
	width: 75px !important;
	float: right;
	}
	
p#firstname_error,
p#lastname_error,
p#email_error,
p#mail_success,
p#mail_fail {
	float: right;
	width: 75px;
	height: 20px;
	padding: 3px;
	text-align: center;
	display: none;
	}
	
p#firstname_error,
p#lastname_error,
p#email_error,
p#mail_fail {
	border: 1px solid red;
	color: red;
	background-color: pink;
	}

p#mail_success {
	border: 1px solid green;
	color: green;
	background-color: lightgreen;
	}


/*//////////////////////////////////////////*/
a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
	color: #42210B;
	}

a:hover {
	color: #879904;
	}
	
.floatright {
	float: right;
	}	

.floatleft {
	float: left;
	}

.center {
	text-align: center !important;
	}

img.objectcenter,
input.objectcenter {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
	}
	
.green {
	color: #879904 !important;
	}

.caps {
	text-transform: uppercase;
	}

.bold {
	font-weight: bold;
	}

.italic {
	font-style: italic;
	}

.underline {
	text-decoration: underline;
	}

.eightteen {
	font-size: 18px !important;
	line-height: 125%;
	}
.fourteen {
	font-size: 14px !important;
	line-height: 150%;
	}

.fiftytop {
	margin-top: 50px !important;
	}
.thirtytop {
	margin-top: 30px !important;
	}

.tenbottom {
	margin-bottom: 10px !important;
	}

/*///////////////////////////////////////////////////////*/		

.button-left {
	width: 48px;
	height: 332px;
	position: absolute;
	left: 0;
	background: url('images/arrow_left.png') bottom;
	z-index: 1;
	}
	/*.button-left:hover {
		background: url('images/arrow_left_hover.png') bottom;
		}*/
	
.button-right {
	width: 48px;
	height: 332px;
	position: absolute;
	right: 0;
	background: url('images/arrow_right.png') bottom;
	z-index: 1;
	}
	/*.button-right:hover {
		background: url('images/arrow_right_hover.png') bottom;
		}*/

.image_reel {
	position: absolute;
	top: 0;
	left: -250px;
	}


.slide {
	width: 500px;
	height: 332px;
/*	float: left;*/
	position: relative;
/*	padding-right: 12px !important;
	margin-left: 12px !important;
*/	}
	
.imgsub {
	font-family: 'Lucida Grande', 'Arial', arial, sans-serif;
	font-size: 16px;
	width: 346px;
	color: white;
	text-align: center;
	background: url('images/trans_grey.png');
	padding: 5px;
	margin: 0 35px 10px 10px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	}
	
/*///////////////////////////////////////////////////////*/	




/*///////////////////////////////////////////////////////*/	



	

/* End Structure */



/* Begin Images */
p img {
	max-width: 100%;
	}
	
.entry object {
	float: right;
	text-indent: 0px !important;
	clear: none;
	}
.entry embed {
	text-indent: 0px !important;
	}
	
/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */


/* End Images */



/* Begin Various Tags & Classes */


.hidden {
	display: none;
	}
	
.screen-reader-text {
     position: absolute;
     left: -1000em;
}

hr {
	display: none;
	}

a img {
	border: none !important;
	}


/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* End captions */

#content .seventy-centered {
	display: block;
	width: 70%;
	margin: 0 auto;
}

/* AMBASSADORS */
.ambassador {
	min-height: 125px;
	margin-bottom: 15px;
}
.ambassador img {
	margin-right: 15px;
	vertical-align: top;
}
.ambassador-info {
	display: inline-block;
	width: 570px;
}

/*MASS CARDS PAGE*/
.mass-card {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.mass-card-links label {
	display: inline;
	font-weight: bold;
}
.mass-card-preview {
	margin-bottom: 10px;
}

/* STORIES PAGE */
.post-meta-label {
	font-weight: bold;
}
.category-stories #tenwideright {
	background: url('/images/bar_tall.png') repeat-y;
}
.category-stories .sideimg {
	margin-bottom: 5px;
}
.category-stories h2 {
	/* POST TITLE */
	text-transform: uppercase;
	font-size: 18px;
	color: #879904;
	font-weight: bold;
	margin-bottom: 0;
	
}
.caption {
	font-size: 18px;
	color: #879904;
	font-weight: bold;
	margin-bottom: 1em;
}
.wp-post-image {
	display: inline-block;
	margin-right: .5em;
}
.post-title-container {
	display: inline-block;
}
.post-title-container label {
	width: auto;
	margin-right: 5px;
}
.story-separator {
	margin-bottom: 10px;
}


/* BLOG ENHANCEMENTS - UPDATED MAY 2014 */

.blog-post a, 
.blog-home a, 
.blog-archive a {
	color: #879904;
	text-decoration: none;
	border-bottom: 1px dotted #879904;
	opacity: .9;
}

.blog-post a:hover, 
.blog-home a:hover, 
.blog-archive a:hover {
	color: #879904;
	border-bottom: 1px solid #879904;
	opacity: 1;
}

/* -- homepage --*/

.column h2 {
	font-family:'Century Gothic W01'; 
	font-weight:700; 
	font-style:normal;
	text-transform: uppercase;
	color: #879904;
	/* -- text-shadow: 1px 1px 1px ##42210B; --*/
	font-size: 1.8em;
}

.column article:after {
	content: ".";
	display: block;
	clear: both;
	background: url('/images/dashed_line.png') 0 50% repeat-x;
	text-indent: -9999px;
	padding: 0;
}

.column h3 {
	font-size: 1.2em;
}

.column h3 a {
	color: #879904;
}

.column h3 a:hover {
	color: #42210B;
}

.entry .date-published {
	padding-bottom: 0px;
}


/* -- structure --*/

.group:after {
	content: ".";
	display: block;
	clear: both;
	background: url('/images/dashed_line.png') 0 50% repeat-x;
	text-indent: -9999px;
	padding: 1.5em 0;
}


#content[class*='blog-'] {
	width: 68%;
	padding-right: 3%;
	/* background: url('/images/bar_tall.png') repeat-y right top; */
	/*border-right: 1px dotted #879904;*/
}

#content[class*='blog-'] p {
	margin-bottom: 1em;
	line-height: 1.45em;
}




#content[class*='blog-'] img,
#sidebar.blog img {
	max-width: 100%;
	height: auto;
}

#content[class*='blog-'] h1 {
	font-size: 2.7em;
}


/* -- blog sidebar --*/

#sidebar.blog {
	float: left;
	width: 23%;
	
}



#sidebar.blog h2 {
	font-size: 1.3em;
	color: #879904;
}

#sidebar.blog .promo {
	margin-bottom: 2em;
	background:  url('/images/dashed_line.png') repeat-x left top;
	padding-top: 1em;
	
}

#sidebar.blog .promo img {
	margin-bottom: .75em;
	}


.action-items {
	margin-bottom: 2em;
	border: 2px dotted rgba(135, 153, 4, .5);
	padding: 1.5em;
}

.action-items ul {
	list-style: none;
	
}	

.action-items ul li {
	padding: .5em 0;
	font-size: 1.2em;
	text-transform: uppercase;
	font-size: 16px;
	display: block;
	font-weight: bold;
	
}


#sidebar.blog .action-items a {
	color: #42210B;
}

#sidebar.blog .action-items a:hover {
	color: #879904;
}


.action-items ul li a:before {
	padding-right: .5em;
}


.categories ul {
	list-style: none;
	
}

.categories ul li {
	padding: .25em 0 ;
	
}	

/* -- blog homepage --*/


.blog-home h1 {
	color: #879904;
}

.blog-home a,
.blog-category a,
.featured-post h2 a {
	color: #879904;
}

.blog-home a:hover {
	color: #42210B;
}

.featured-post.primary {
	margin-top: 1em;
}

.featured-post.primary img {
	width: 55%;
	margin-right: 2em;
	float: left;
}


.featured-post.primary h2 {
	font-size: 2em;
}


.featured-post.secondary {
	width: 48%;
	float: left;
	}
	
.featured-post.secondary img {
	margin-bottom: .5em;
}

.featured-post.secondary:first-child {
	margin-right: 4%;
	}


.readmore {
	color: #879904;
	font-weight: bold;
	text-transform: uppercase;
	
}

article .readmore a,
.column .readmore a {
	color: #879904;
}

.readmore a:after {
	font-family: "SSGeomiconsSquared";
	content: "\25B9";
	font-size: .7em;
	padding-left: .25em;
}

article .readmore a:hover,
.column .readmore a:hover {
	color: #42210B;
}

/* -- blog single post styles --*/

.addthis_toolbox {
	margin-bottom: 1em;
}
.blog-post h1 {
	font-size: 2.7em;
}

.blog-post .byline {
	font-size: 1.25em;
	margin-bottom: .5em;
}

.blog-post .categories {
	margin-bottom: 1em;
}

.pullquote {
	color: #879904;
	width: 40%;
	float: right;
	margin: 1em 0 1em 2em;
	
	/*background: url('/images/dot-pattern.png') top center repeat-x ;
	padding-top: 1em;*/
}
.pullquote q {
	font-size: 1.9em;
	line-height: 1.4em;
}

.pullquote .attribution {
	text-align: right;
}

.pullquote q:before {
	content: "“";
}

.pullquote q:after {
	content: "”";
}


.button {
	display: inline-block;
	margin: 1em 0px;
	font-size: 1.2em;
}

.button a {
	display: block;
	background: #879904 ;
	padding: .5em;
	color: #fff;
}


.button a:hover {
	background: #42210B;
}


.featured-slideshow {
	position: relative;
	margin: 2em 0 ;
}

figure img {
	margin-bottom: .5em;
}

figure figcaption {
	margin-bottom: 1em;
}

.featured-slideshow .caption_head {
	font-weight: bold;
}

.back, .forward {
	position: absolute;
	top: 32%;
	width: 30%;
	opacity: .8;
	filter: alpha(opacity=70);
	z-index: 800;
	height: 25%;
	cursor: pointer;
}

.back {
	left: 0;
	background: url(images/arrow_left.png) 15% 50% no-repeat;
}

.forward {
	right: 0;
	background: url(images/arrow_right.png) 85% 50% no-repeat;

}

.back:hover, 
.forward:hover {
	opacity: 1;
}

/* Additional styles - UPDATED October 2014 */

#content ul,
#content ol {
	margin-left: 1.5em;
	
}

.entry li {
	padding-bottom: .5em;
}


/* CHRISTMAS PARTIES */
#xmasLogo {
	display: block;
	margin: 0 auto;
}
#xmasPartyMap {
	width: 100%;
}
#waysToHelp {
	color: #879904;
}
#waysToHelp p {
	font-weight: bold;
	padding-bottom: .5em;
	font-size: 1.143em;
}
#waysToHelp ul {
	color: #42210B;
	padding-left: 1em;
	margin-bottom: 1em;
}

/* CHRISTMAS CARDS */
#seventywideleft.christmas-card-content p {
  padding-bottom: 1em;
}
.post-card img { 
  margin: 0 auto 1em auto;
  display: block;
}
.option-title {
  color: #879904;
  font-weight: bold;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MOTHERS DAY */
.Haiti.Moms a:link, .Jozy.and.Adriana a:link { color: #879904; }
.Haiti.Moms a:visited, .Jozy.and.Adriana a:visited { color: #879904; }
.Haiti.Moms a:hover, .Jozy.and.Adriana a:hover { color: #879904; text-decoration: underline; }

